Package: com.yourname.cryptokitsha256hook
Name: CryptoKitSHA256Hook
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Universal hook for CryptoKit.SHA256 and ccdigest
Maintainer: Developer
Author: Developer
Section: Tweaks
